/* Here goes your CSS */
body {
  background-color: #E5E5E5;
  font-family: 'Open Sans'; 'sans-serif';
  font-weight: lighter;
  color: #AEAEAE;
  background: url("https://unsplash.it/g/1400/900");
  background-size: cover;
}


table {
  font-weight: lighter;
}
h1 {
  color: #00AD7C;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: -1px;
  text-decoration: underline;
}

a {
  color: #AEAEAE;
  text-decoration: none;
}

a:hover {
  color: #00AD7C;
}

.card-white {
  background-color: white;
  width: 600px;
  padding: 20px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #C4C4C4;
  text-align: center;
}

#me {
  width: 200px;
  height: 200px;
  margin: -7px;
}

img {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.img-circle {
  border-radius: 50%;
}

a .btn-green {
  color: #00AD7C;
  font-family: 'Open Sans'; 'sans-serif';
  font-size: 15px;
}

a .btn-green:hover {
  color: white;
}

.btn-green {
  background-color: white;
  border: 3px solid #00AD7C;
  border-radius: 4px;
  padding: 9px;
  transition-duration: 0.3s;
  box-shadow: 1px 1px 2px #CCCCCC;
}

.btn-green:hover {
  background-color: #00AD7C;
  color: white;
}

.btn-green:active {
  transform: translateY(4px);
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  margin: 20px 17px;
  font-family: 'Open Sans'; 'sans-serif';
  font-size: 22px;
}

div h2 {
  margin: 5px;
}

td h3 {
  margin: 20px 0 -10px 0;
}

#sidebar {
  background-color: #3A7563;
  padding-left: 0;
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

#sidebar ul {
  padding-left: 0;
  margin-top: 120px;
}

#sidebar i {
  color: white;
}

#sidebar li {
  list-style: none;
  margin: 50px;
}

#page-content {
  margin-left: 180px;

}

.fa {
  display: inline-block;
}





